.banner {
    background: url('../assets/banner.png') no-repeat center center; /* Ensure correct path */
    height: 650px; /* Set fixed height */
    width: 100%; /* Full width of the viewport */
    min-height: 400px; /* Set a minimum height for smaller screens */
    background-size: contain; /* Ensures the entire image is displayed */
}

.banner-container {
    width: 100%; /* Full width */
    max-width: 1200px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
}

