.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .banner {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .id-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4AA00F;
    color: #4AA00F;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  